/** Layout **/
body {
    min-height: 95%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
main, footer {
    margin: .5em auto;
    padding: .5em;
    width: 60%;
    min-width: 450px;
    max-width: 600px;
}
[social] .icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 50%;
    margin: 0 auto;
}
header, section {
    width: 80%;
    margin: 0 auto;
    position: relative;
}
/** Borders and Shapes **/
header, section:not(:last-child) {
    border-bottom: 1px dotted #ccc;
    padding-bottom: .3em;
}
h1 {
    margin: .5em auto;
}
aside {
    margin-bottom: .5em;
}
main {
    margin-top: 3em;   
    text-align: center;
    border-radius: 5px;
    padding: 2em 0;
}
[avatar] {
    height: 10em;
    width: 10em;
    border-radius: 50%;
    background-clip: padding-box;
}
section[social] {
    padding-bottom: 1em;
}
header::before {
    display: block;
    margin-bottom: -5.3em;
    border-bottom: 7px double #ccc;
    width:100%; height:1px;
    content: " ";
} 
footer {
    margin: 0 auto;
    text-align: center;
}

/** Animations **/
main {
    transition: .3s;
}

/** Colors, fonts, and shading **/
html {
    position: absolute;
    top:0; bottom: 0; left: 0; right: 0;
    font-family: 'Noto Sans', sans-serif;
    background:
        linear-gradient(
            rgba(0, 0, 0, 0.7), 
            rgba(0, 0, 0, 0.7)
        ),
        center / cover no-repeat
        url(bg.jpg)
        #111;
    background-size: cover;
    color: #e9e9e9;
    overflow: auto;
    /* create a little ditch for everything else to sit in */
    box-shadow: inset 4px -4px 8px 0 rgba(0,0,0,0.6),
                inset -4px 4px 8px 0 rgba(0,0,0,0.6);
}
h1 {
    font-size: 200%;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    white-space: nowrap;
}
footer {
    font-size: .8rem;
}
main {
    background: #333;
}
[about] ul {
    font-weight: lighter;
    list-style: none;
    padding-inline-start: 0;
    padding-left: 0;
}
ul li + li {
    margin-top: .5em;
}

/********** FUN WITH CSS SHADOWS! **************/
[hover-glow], [hover-glow-text], [hover-glow-box],
[hover-shadow], [hover-shadow-text], [hover-shadow-box],
.hover-glow, .hover-glow-text, .hover-glow-box,
.hover-shadow, .hover-shadow-text, .hover-shadow-box {
    transition: color, filter, box-shadow, text-shadow, border-color 0.3s;   
}
[glow], .glow,
[glow-box], .glow-box,
[hover-glow]:hover, .hover-glow:hover,
[hover-glow-box]:hover, .hover-glow-box:hover {
    box-shadow: 0 0 .5em 0 rgba(255,255,255,0.25);
}
[glow], .glow,
[glow-text], .glow-text,
[hover-glow]:hover, .hover-glow:hover,
[hover-glow-text]:hover, .hover-glow-text:hover {
   text-shadow: 0 0 .5em 0 rgba(255,255,255,0.25);
}
[glow] img, .glow img,
[glow-text] img, .glow-text img,
[hover-glow]:hover img, .hover-glow img,
[hover-glow-text]:hover img, .hover-glow-text img {
   filter: drop-shadow(0 0 .5em 0 rgba(255,255,255,0.25));
}
[shadow], .shadow,
[shadow-box], .shadow-box,
[hover-shadow]:hover, .hover-shadow:hover,
[hover-shadow-box]:hover, .hover-shadow-box:hover {
    box-shadow: 0 0 1em 0 rgba(0,0,0,0.8);
}
[shadow], .shadow,
[shadow-text], .shadow-box,
[hover-shadow]:hover, .hover-shadow:hover,
[hover-shadow-text]:hover, .hover-shadow-text:hover {
    text-shadow: 0 0 .5em 0 rgba(0,0,0,0.8);
}
[shadow] img, .shadow img,
[shadow-text] img, .shadow-text img,
[hover-shadow]:hover img, .hover-shadow:hover img,
[hover-shadow-text]:hover img, .hover-shadow-text:hover img {
    filter: drop-shadow(0 0 .5em 0 rgba(0,0,0,0.5)); 
}

/****** FONTAWESOME FIXES *******/
/* Fontawesome doesn't have some fediverse logos.
    This allows us to add them by simply having our fa icon
    contain a transparent black logo image (preferably SVG).
*/
.customlogo img {
    /* change it to white so it doesn't stand out */
    filter: invert(100%) brightness(.9);
    display: block;
    height: .95em;
    width: auto;
}
a.customlogo:not(.fa-border) img,
a.customlogo.fa-border:hover img {
    /* hey look i found a silly way to colorize a black image! */
    /* Approximates #c9c9ff (link color) */
    filter: invert(100%) sepia(100%)
        saturate(2500%) hue-rotate(180deg);
}
a.customlogo:not(.fa-border):hover img {
    /* Approximates #e9e9ff (link highlight color) */
    filter: invert(100%) sepia(100%)
        saturate(2500%) hue-rotate(179deg) brightness(0.9);
}

/* This allows us to have our icons wrap the text they apply
    to, if we like; uses the FA font only on the ::before element
    which will contain the icon glyph.
*/
.fa:not(.customlogo):not(:empty),
.far:not(:empty),
.fas:not(:empty),
.fab:not(:empty) {
    font: inherit!important;
    margin: 0;
}
.fa:not(.customlogo):not(:empty)::before,
.far:not(:empty)::before,
.fas:not(:empty)::before,
.fab:not(:empty)::before {
    margin: 0 .15em;
}
.fa:not(.customlogo)::before, .far::before, .fas::before, .fab::before {
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    break-after: avoid;
}
.fab::before {
    font-family: "Font Awesome 5 Brands" !important;
}
.fa::before, .far::before, .fas::before {
    font-family: "Font Awesome 5 Pro" !important;
}
a, a:visited,
a.fa, a.fa:visited,
a.fab, a.fab:visited,
a.fas, a.fas:visited {
    color: #c9c9ff;
    text-decoration: none;
}
a:hover,
a.fa:hover,
a.fab:hover,
a.fas:hover {
    color: #e9e9ff;
}
.fa, .fas, .fab {
    margin: 0 .25em;
}
a.fa.fa-border,
a.fab.fa-border,
a.fas.fa-border {
    line-height: 1em;
    color: inherit;
}
a.fa.fa-border:hover,
a.fab.fa-border:hover,
a.fas.fa-border:hover {
    color: #c9c9ff;
    border-color: #c9c9ff;   
}
.fa.fa-border,
.fas.fa-border, 
.fab.fa-border {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border-width: 3px;
    border-radius: 50%;
    height: 1.2em!important;
    width: 1.2em!important;
    line-height:1.2em!important;
    padding: 0.05em 0.05em 0.05em 0.025em;
    margin: 0 .15em;
}
.customlogo img,
.fa.fa-border:before,
.fas.fa-border:before,
.fab.fa-border:before {
    display: block;
    margin: 0 auto;
    line-height:1.3em;
    height: 1.2em;
    width: auto;
    vertical-align:top;
    text-align:center;
}
